.tabsSection{
    
}

.tabs{
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 100%;
}

.tabs > * {
    text-align: center;
    width: 50%;
    border-bottom: 5px solid var(--primary-surface);
    opacity: 0.5;
    cursor:pointer;
}