@value inline-margin: clamp(0.625rem, 9.063vw - 1.188rem, 9.688rem);

.content{
    background-color: var(--primary-surface);
    min-height: 100svh;
    max-height: 100svh;
    height: 100%;
    padding-inline: inline-margin;
    color: var(--white);
    overflow:hidden;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.875rem;
}

.logo{
    height: 7.188rem;
    width: 7.188rem;
    position: relative !important;
    object-fit: fit;
}

.photoIcon{
    background-color: var(--white);
    color: var(--primary-surface);
    width: min-content;
    border-radius: 6.25rem;
    height: 19.625rem;
    width: 19rem;
    padding-inline: 1rem;
}

.form{
    position: relative;
    margin-inline: 2%;
    height: 25rem;
    width: 65%;
    display: flex;
    justify-content: space-between;
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
}
.formInputs{
    justify-self: stretch;
}

.column{
    max-width: 29.5rem;
    display: flex;
    flex-direction: column;
}

.button{
    width: 15.625rem;
    height: 3.5rem;
    margin-top: auto;
    border-radius: 1rem;
}

.loginText{
    color: var(--secondary-text);
    font-family: 'Plus Jakarta Sans';
}

.stayLoggedIn{
    display: flex;
    gap: 0.5rem;
    color: var(--secondary-text);
    font-weight: 700;
}

.loginText p{
    margin-block: 0.5rem;
}

.inputBox{
    background-color: var(--white);
    color: var(--primary-text);
    padding-inline: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.25rem;
    border-radius: 4px 4px 0 0;
    margin-bottom: 1rem;
    width: 27.5rem;
    position: relative;
}

.inputBox > label{
    font-size: 0.75rem;
    opacity: 0.75;
}

.inputBox.inlineInput {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 1fr;
}

.loginInput{
    all: unset;
    min-width: calc(95% - 0.75rem);
    padding: 0;
    background-color: none;
    width: 100%;
    font-size: 1rem;
}

.remoteSelection{
    display: block;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background-color: var(--white);
    border: 1px solid var(--primary-text);
    border-radius: 50%;
    overflow: visible;
    padding-inline: 0.25rem;
}

.projectDetailsView {
    position:sticky;
    display: flex;
    justify-content: space-between;
    min-width: 99svw;
    height: 100vh;
    justify-items: stretch;
    overflow: hidden;
}

.projectSheet {
    flex: 1;
}

.projectSheet {
    color: var(--primary-text);
    background-color: var(--white);
    width: 100vw;
    height: 100% !important;
    overflow: hidden;
    padding-top: 4rem;
}

.projectTitle{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-inline: 2rem;
    margin-bottom: 1rem;
}

.projectTitle h2{
    font-size: 2.5rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    margin: 0;
}

.progressBar > *{
    border-radius: 1px;
    height: 3px;
    background-color: var(--white);
}

.progressBar :nth-child(2){
    opacity: 0.5;
}

.detailsForm{
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
}

.scrollableForm{
    max-width: 32rem;
    display: flex;
    flex-direction: column;
}

.sheetIcon{
    background-color: var(--secondary-surface);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 
    0px 1px 2px rgba(0, 0, 0, 0.15),
    0px 2px 4px rgba(0, 0, 0, 0.15);
}

.scrollableInputs{
    padding-block: 1rem;
}

.scrollableInputs::-webkit-scrollbar {
    width: 10px;
}
  
.scrollableInputs::-webkit-scrollbar-track {
    background: var(--primary-surface);
}

.scrollableInputs::-webkit-scrollbar-thumb {
    background: var(--secondary-surface);
}

.scrollableInputs::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-surface);
}

.projectInfo{
    padding-left: 8rem;
    font-size: 1rem;
    padding-block: 1rem;
    border-bottom: 1px solid;
    font-family: 'Roboto', sans-serif;
    display: flex;
    gap: 1rem;
    align-items: center;
    letter-spacing: 0.5px;
}

.projectInfo p{
    margin: 0;
}

.titleblock{
    display: inline-block;
    height: 20px; 
    width: 200px;
    background-color: var(--primary-surface);
    filter: blur(4px) !important;
}

.stageTitle{
    padding-left: 6rem;
    padding-block: 1rem;
}